.login_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_btn {
  color: #fff;
  background: #2aa649;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.login_btn.clicked {
  transform: translateY(3px);
  transition: all 0.1s ease-in-out;
}
